<style>
	body{
 		background: #fff;
 		margin:20px;
 	}
 </style>
     <form id="upDateForm" method="post" class="form-horizontal" action=""
      data-bv-message="This value is not valid"
      data-bv-feedbackicons-valid="fa fa-check"
      data-bv-feedbackicons-invalid="fa fa-times"
      data-bv-feedbackicons-validating="fa fa-refresh" xmlns:th="http://www.thymeleaf.org">
      
		　<div class="form-group">
            <label class="col-lg-3 control-label">菜单名称</label>
            <div class="col-lg-9">
            	<input type="hidden" name="id" th:value="${tree.id}">
                <input type="text" class="form-control" name="name" th:value="${tree.name}" data-bv-notempty="true" data-bv-notempty-message="不能为空" />
            </div>
        </div>
         <div class="form-group">
            <label class="col-lg-3 control-label">图标</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" name="iconSkin" th:value="${tree.iconSkin}"/>
            </div>
        </div>
         <div class="form-group">
            <label class="col-lg-3 control-label">跳转地址</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" name="url" th:value="${tree.url}" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label">排序</label>
            <div class="col-lg-9">
                <input type="text" class="form-control" name="remark" th:value="${tree.remark}" data-bv-notempty="true" data-bv-notempty-message="不能为空" data-bv-intnumber="true" data-bv-number-message="请填写数字" />
            </div>
        </div>
	</form>

<script>
	$(function(){
		
		  /* 表单验证 */
	    $('#upDateForm').bootstrapValidator();
		
		
	});
</script>
