body{
	background: #F8F8F8;
}
div.oldPassword,div.newPassowrd,div.againPassword{

	background: #FFFFFF;
	
}

div.oldPassword{
	margin-bottom: 20px;
}
div.newPassowrd{
	margin-bottom: 10px;
}
p{
    width: 60px;
    height: 45px;
    font-size: 12px;
    text-align: right;
    color: #111;
    float: left;
    line-height: 45px;
}
input{
	height: 45px;
    line-height: 45px;
   	width: 70%;
    font-size: 12px;
    border: 0px;
    margin-left: 15px;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    vertical-align: auto;
}
.sure{
    height: 45px;
    background: rgba(240, 43, 43, 0.788235294117647);
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 45px;
    border-radius: 5px;
    margin: 20px 20px;
    width: -webkit-fill-available;
}
.password_phone{
	position: absolute;
	top: 0px;
	right: 15px;
	color: #489ef3;
}

.find_password {
    position: relative;
    padding: 30px 20px 20px 20px;
}