
@font-face {font-family: "iconfont";
	src:url('../../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all:before { content: "\e696"; }

.icon-back:before { content: "\e697"; }

.icon-close:before { content: "\e69a"; }

.icon-cry:before { content: "\e69c"; }

.icon-form:before { content: "\e6a2"; }

.icon-less:before { content: "\e6a5"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-rfq:before { content: "\e6ab"; }

.icon-selected:before { content: "\e6ad"; }

.icon-smile:before { content: "\e6af"; }

.icon-viewgallery:before { content: "\e6b4"; }

.icon-atm:before { content: "\e6ba"; }

.icon-calendar:before { content: "\e6bf"; }

.icon-discount:before { content: "\e6c5"; }

.icon-service:before { content: "\e6c7"; }

.icon-gifts:before { content: "\e6db"; }

.icon-atmaway:before { content: "\e6e9"; }

.icon-pin:before { content: "\e6f2"; }

.icon-gerenzhongxin:before { content: "\e70b"; }

.icon-remind:before { content: "\e713"; }

.icon-phone:before { content: "\e725"; }

.icon-shezhi:before { content: "\e64b"; }

.icon-xiaoxi:before { content: "\e62f"; }

.icon-sousuo:before { content: "\e63b"; }

.icon-tubiao222:before { content: "\e619"; }

.icon-hot:before { content: "\e756"; }

.icon-gouwuche:before { content: "\e66d"; }

.icon-signboard:before { content: "\e75c"; }

.icon-favorites:before { content: "\e7ce"; }

.icon-jilu:before { content: "\e6f3"; }

.icon-dianpu:before { content: "\e609"; }

.icon-tips:before { content: "\e6a3"; }

.icon-trust:before { content: "\e82a"; }

.icon-jilu1:before { content: "\e674"; }

.icon-shoucang:before { content: "\e601"; }

.icon-saoyisao:before { content: "\e60b"; }

.icon-wodeziliao:before { content: "\e615"; }

.icon-dizhiguanli:before { content: "\e63f"; }

.icon-daifukuan:before { content: "\e640"; }

.icon-daishouhuo:before { content: "\e641"; }

.icon-weishiyong:before { content: "\e642"; }

.icon-pingjia:before { content: "\e643"; }

.icon-qiandao:before { content: "\e644"; }

